.screen {
    grid-area: screen1;
    text-align: right;
    border-bottom: solid black;
    width: 404px;
}

.C {
    grid-area: CC;
    border-right: solid black;
    border-bottom: solid black;
    width: 202px;
}

.arrow {
    grid-area: arrow1;
    border-right: solid black;
    border-bottom: solid black;
}

.divide {
    grid-area: divide1;
    border-bottom: solid black;
}

.seven {
    grid-area: seven1;
    border-right: solid black;
    border-bottom: solid black;
}

.eight {
    grid-area: eight1;
    border-right: solid black;
    border-bottom: solid black;
}

.nine {
    grid-area: nine1;
    border-right: solid black;
    border-bottom: solid black;
}

.x {
    grid-area: xx;
    border-bottom: solid black;
}

.four {
    grid-area: four1;
    border-right: solid black;
    border-bottom: solid black;
}

.five {
    grid-area: five1;
    border-right: solid black;
    border-bottom: solid black;
}

.six {
    grid-area: six1;
    border-right: solid black;
    border-bottom: solid black;
}

.minus {
    grid-area: minus1;
    border-bottom: solid black;
}

.one {
    grid-area: one1;
    border-right: solid black;
    border-bottom: solid black;
}

.two {
    grid-area: two1;
    border-right: solid black;
    border-bottom: solid black;
}

.three {
    grid-area: three1;
    border-right: solid black;
    border-bottom: solid black;
}

.pluse {
    grid-area: pluse1;
    border-bottom: solid black;
}

.zero {
    grid-area: zero1;
    border-right: solid black;
    width: 303px;
}

.equal {
    grid-area: equals1;
    border-left: solid black;
}

.page {
    display: grid;
    grid-template-areas:
      "screen1 screen1 screen1 screen1"
      "CC  CC arrow1 divide1"
      "seven1 eight1 nine1 xx"
      "four1  five1 six1 minus1"
      "one1 two1 three1 pluse1"
      "zero1 zero1 zero1 equals1";
}

div {
    height: 100px;
  }

  .normal-size {
    width: 100px;
  }

button {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100%;
    width: 100%;
    font-size: 40px;
}

.symbol {
    background-color: rgb(255, 166, 0);
    color: white;
}

.symbol:hover {
    background-color: rgb(249, 180, 51);
}

.screen {
    background-color: black;
    color: white;
    height: 80px;
}

  .page {
    margin-left: 30%;
    margin-right: 30%;
  }

  .js-target {
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 20px;
  }