.logo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    grid-area: logoL
}
.firstWord {
    grid-area: firstWordF;
}
.secondWord {
    grid-area: secondWordS;
}
.thirdWord {
    grid-area: thirdWordT;
}
.fourthWord {
    grid-area: fourthWordFo;
}
.fifthWord {
    grid-area: fifthWordFif;
}
.sixthWord {
    grid-area: sixthWordSi;
}
input {
    width: 37px;
    height: 37px;
    margin: 5px;
    border: 3px solid #ccc;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 #000000;
    font-weight: bold;
}
input:focus {
    outline: none;
    border: 3px solid #ccc;
  }
.line {
    height: 3px;
    background: black;
    grid-area: lineL;
}
.nothing {
    height: 60px;
    background: white;
    grid-area: nothingN;
}
.page {
    justify-content: center;
    display: grid;
    grid-template-areas:
      "logoL"
      "lineL"
      "nothingN"
      "loadingL"
      "firstWordF"
      "secondWordS"
      "thirdWordT"
      "fourthWordFo"
      "fifthWordFif"
      "sixthWordSi";
}
#loading {
    grid-area: loadingL;
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}